.page-template-partner {
  .page-header {
    height: 350px;
    padding-top: 100px;
    background-size: cover;
    background-position: 100%;
    position: relative;
    margin-bottom: 0;

    .content {
      color: #fff;
      position: relative;
      z-index: 99;
      font-size: 18px;
      line-height: 1.4;
      text-align: center;
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
    }

    p {
      padding: 20px 15% 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 16, 31, 0.5);
      z-index: 9;
    }
  }

  .section-form {
    text-align: center;

    ul {
      padding: 0;
    }

    .visual-form-builder {
      margin: 20px 100px 0;
    }

    .vfb-legend, #vfb-146,
    .vfb-item-secret {
      display: none !important;
    }

    label {
      font-weight: normal;
      color: #666;
    }

    .vfb-item-text, .vfb-item-phone,
    .vfb-item-email {
      list-style: none;
      display: inline-block;
      width: 46%;
    }

    .vfb-item {
      margin: 10px 2%;
      text-align: left;

      textarea {
        height: 120px;
      }
    }
  }

  .section-how-it-works {
    background: #f2f2f2;
    box-shadow: 0 1px 10px 2px rgba(113, 113, 113, 0.3);
    -webkit-box-shadow: 0 1px 10px 2px rgba(113, 113, 113, 0.3);
    -o-box-shadow: 0 1px 10px 2px rgba(113, 113, 113, 0.3);
    -moz-box-shadow: 0 1px 10px 2px rgba(113, 113, 113, 0.3);
    -ms-box-shadow: 0 1px 10px 2px rgba(113, 113, 113, 0.3);

    h2 {
      text-align: center;
    }

    .entry-image img {
      max-width: 150px;
    }
  }
}